/*******************************************************************************
 * Typography styles: Headings, text, links, tables, blockquotes
 ******************************************************************************/

@use "variables" as v;

p,
h1,
h2,
h3,
h4,
h5,
h6,
em,
div,
li,
span,
strong {
  color: var(--global-text-color);
}

.post-header .post-title {
  font-size: 2.25rem;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 1.15;
}

.post-header .desc,
.post-description {
  font-size: 1rem;
  font-weight: 400;
  color: var(--global-text-color-light);
  letter-spacing: 0.02em;
  line-height: 1.5;
}

hr {
  border-top: 1px solid var(--global-divider-color);
}

table {
  td,
  th {
    font-size: 1rem;
    padding: 1px 1rem 1px 0;
  }

  th {
    font-weight: bold;
  }
}

a:not(.btn-doss):not(.focus-tabs__link):not(.nav-link):not(.navbar-brand),
table.table a {
  color: var(--global-text-color);
  text-decoration: none;
  border-bottom: 1px solid var(--global-divider-color);
  transition: color 0.15s ease, border-color 0.15s ease;

  &:hover {
    color: var(--global-hover-color);
    border-bottom-color: var(--global-hover-color);
    text-decoration: none;
  }

  &:hover:after :not(.nav-item.dropdown) {
    width: 100%;
  }
}

.table-dark {
  background-color: transparent;
  &.table-bordered {
    border: 1px solid var(--global-divider-color) !important;
  }
}

blockquote {
  background: var(--global-bg-color);
  border-left: 2px solid var(--global-text-color);
  margin: 1.5em 0;
  padding: 0.75em 1em;
  font-size: 1rem;
  font-weight: 400;

  p {
    margin-bottom: 0;
  }

  /* Tips, warnings, and dangers blockquotes */
  &.block-tip {
    border-color: var(--global-tip-block);
    background-color: var(--global-tip-block-bg);

    em,
    li,
    p,
    strong {
      color: var(--global-tip-block-text);
    }

    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--global-tip-block-title);
    }
  }

  &.block-warning {
    border-color: var(--global-warning-block);
    background-color: var(--global-warning-block-bg);

    em,
    li,
    p,
    strong {
      color: var(--global-warning-block-text);
    }

    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--global-warning-block-title);
    }
  }

  &.block-danger {
    border-color: var(--global-danger-block);
    background-color: var(--global-danger-block-bg);

    em,
    li,
    p,
    strong {
      color: var(--global-danger-block-text);
    }

    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--global-danger-block-title);
    }
  }
}
